label {
  color: white;
}

/*NAVBAR*/
.logoNav {
  height: 60px;
  margin-left: -10px;
}

.brandName {
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 1.5rem;
}

/*MODAL*/
.modal-paragraph {
  font-size: 0.8rem;
}

/*DROPDOWN BUTTON*/
.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  width: auto;
}

/*SEARCH FORM*/
.section-search{
  background-image: url("https://images.unsplash.com/photo-1486571698588-a2204703bec8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1700&q=80");
  padding: 120px 100px;
}

.title-home{
  padding-left: 80px;
  color: white;
  font-size: 5rem;
}

.search {
  background-color: #0b0b3a;
  border-radius: 20px;
}
